// Body
$body-bg: #f8fafc;
$body-bg-bright: #F0F3F6;
$body-bg-dark: #161d31;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// All Themes
$grad-menu-bg: linear-gradient(118deg, #7367f0, rgba(115,103,240,.7));


// Bright Theme
$bright-bg: #fff;
$bright-color: #625f6e;

// Dark Theme
$dark-bg: #283046;
$dark-color: #d0d2d6;
